.header {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px;
    min-height: 44px;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.address {
    font-size: 14px;
    color: var(--foreground);
    opacity: 0.6;
    width: 100%;
}