.upcomingClassesList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.upcomingClassItem {
    border: 1px solid var(--foreground);
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: var(--underlay);
    width: 100%;
}