.ctasWrapper {
    margin-top: auto;
    width: 100%;
    max-width: 600px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 20px;
    background: var(--accent-gradient);
    border-radius: 24px 24px 0 0;
    box-shadow: 0px -4px 10px 5px rgba(0, 0, 0, 0.4);
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}