.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
  overflow: hidden;
  /* prevent absolute logo from causing vertical scroll on small screens */
  position: fixed;
  inset: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}



.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  align-items: center;
  text-align: center;
  margin: auto;
  background: #17171775;
}

.heading {
  color: var(--pitbull);
}

.description {
  color: var(--foreground);
}

.bottomSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: self-end;
}

.logoWrap {
  width: 120svw;
  aspect-ratio: 1 / 1;
  max-width: 480px;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  transform: rotate(45deg) translateX(-30%);
  bottom: -70px;
  border: 8px solid var(--foreground);
  border-radius: 50%;
}

.logoWrap.second {
  bottom: 150px;
  transform: rotate(-27deg) translateX(48%);
  width: 100svw;
  opacity: 0.6;
}

.logo {
  object-fit: contain;
}

.ctasWrapper {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 20px;
  background: var(--pitbull-gradient);
  border-radius: 24px 24px 0 0;
  box-shadow: 0px -4px 10px 5px rgba(0, 0, 0, 0.4);
}

.ctas {
  display: flex;
  width: 100%;
  gap: 10px;
}

.ctas.noInstallPrompt {
  flex-direction: column-reverse;
}


@media (width > 600px) {
  .logoWrap {
    transform: none;
    top: 30svh;
    bottom: auto;
  }
  .logoWrap.second {
    display: none;
  }
}