.enablePush {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}

.enablePush.reverse {
    flex-direction: row-reverse;
}

.enableButton {
    width: fit-content;
}
