.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-red);
    background-image: var(--accent-gradient);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 80px 20px;
    gap: 20px;
    overflow: hidden;
}

.menuToggle {
    position: absolute;
    top: 4px;
    right: 10px;
}

.menuList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.menuList:not(.menuListAdmin) {
    flex: 1 1 auto;
    overflow: auto;
    min-height: 0;
}

.menuList>* {
    flex: 0 0 auto;
}

.menuListAdmin {
    margin-top: auto;
}

.logoWrap {
    width: 120svw;
    aspect-ratio: 1 / 1;
    max-width: 480px;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    transform: rotate(45deg) translateX(-30%);
    bottom: -70px;
    border: 8px solid var(--foreground);
    border-radius: 50%;
    mix-blend-mode: soft-light;
}